<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsasys.mapper.AllergenMapper">
    <insert id="insertBatch">
        insert into user_allergen (user_id, allergen_id) values
        <foreach collection="allergenIds" item="allergenId" index="index" separator=",">
                (#{id}, #{allergenId})
        </foreach>
    </insert>


    <select id="selectAllergensById" resultType="com.hsasys.domain.entity.Allergen">
        select * from allergen where id in (
            select allergen_id from user_allergen where user_id = #{userId}
            )
    </select>
    <select id="selectFoodIdsByUserId" resultType="java.lang.Integer">
        select food_id
        from food_allergen
        where allergen_id in
              (select allergen_id
               from user_allergen
               where user_id = #{userId})
    </select>
</mapper>
