<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsasys.dao.ChronicDiseaseMapper">
    <insert id="insertBatch">
        insert into user_disease(user_id, disease_id) values
        <foreach collection="diseaseIds" item="diseaseId" separator=",">
                (#{id}, #{diseaseId})
        </foreach>
    </insert>


    <select id="selectChronicDiseaseById" resultType="com.hsasys.domain.entity.ChronicDisease">
        select * from chronic_disease where id in (
            select disease_id from user_disease where user_id = #{userId}
        )
    </select>
</mapper>
