<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsasys.dao.ReportMapper">

    <insert id="insertReportItems">

    </insert>

    <select id="getReportInfoList" resultType="com.hsasys.domain.vo.ReportInfoVo">
        select r.item_id,
               r.content,
               r.`status`,
               i.type_id,
               i.physical_item_name,
               i.normal_range,
               i.unit,
               t.physical_name
        from physical_result r
                 JOIN physical_item i on r.item_id = i.id
                 JOIN physical_type t ON i.type_id = t.id
        where user_id = #{userId}
    </select>

</mapper>
